.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #5555558b;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-card {
  display: flex;
  width: 800px;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-side {
  flex: 1;
  padding: 30px;
  position: relative;
}

.login-left {
  display: flex;
  flex-direction: column;
}

.login-right {
  background-color: #428780;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
  color: #666;
}

h2 {
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 28px;
  color: #333;
}

.description {
  color: #666;
  margin-bottom: 30px;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group i {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #428780;
}

.input-group input {
  width: 100%;
  padding: 12px 12px 12px 45px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.login-button {
  background-color: var(--teal-green);
  color: #fff;
  padding: 8px 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
}

.overlay-shape {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 30px;
  border-radius: 10px;
  width: 80%;
}

.overlay-shape h2 {
  color: white;
}

.overlay-shape p {
  color: white;
  margin-bottom: 30px;
}

.swap-button {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.swap-button:hover {
  background-color: white;
  color: #428780;
}

.error-message {
  color: #d32f2f;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 0;
}

.general-error {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.modal-side.login-right{
  display: flex;
  width: 800px;
  height: 500px;
  background-color: var(--right-bg);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  color: var(--text-primary);
}